.selected__choose__file{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 221px;
    background:#ccc;
    border: 2px solid rgb(80, 80, 247);
    opacity: 0.3;
    border-radius: 5px;
    padding: 3px;
}
.select__pic{
    margin-left: 11px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
